{#
 -------------------------------------------------------------------------
 manufacturersimports plugin for GLPI
 Copyright (C) 2015-2026 by the manufacturersimports Development Team.

 https://github.com/InfotelGLPI/manufacturersimports
 -------------------------------------------------------------------------

 LICENSE

 This file is part of manufacturersimports.

 manufacturersimports is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 3 of the License, or
 (at your option) any later version.

 manufacturersimports is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with manufacturersimports. If not, see <http://www.gnu.org/licenses/>.
 --------------------------------------------------------------------------
 #}

{# The serial number is stored raw in the database and is part of {{ url }};
   Twig auto-escaping of the href value prevents any stored-XSS breakout. #}
<table class="tab_cadre_fixe">
    <tr>
        <th colspan="4">{{ title }}</th>
    </tr>
    <tr class="tab_bg_1">
        <td>{{ _n('Link', 'Links', 1) }}</td>
        <td>
            <a href="{{ url }}" target="_blank">{{ __('Manufacturer information', 'manufacturersimports') }}</a>
        </td>
        <td colspan="2" class="center">
            {% do call('Html::showSimpleForm', [
                target,
                'retrieve_warranty',
                button_label,
                {'itemtype': itemtype, 'items_id': items_id}
            ]) %}
        </td>
    </tr>
</table>
